<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.category %></p>
<address> <%= @restaurant.address %></address>

<ul>
<% @restaurant.reviews.each do |review| %>
  <li> <%= review.content %> - <%= "⭐️" * (review.rating) %> </li>
<% end %>
</ul>

<%= link_to "Add a Review", new_restaurant_review_path(@restaurant), method: :get, data: { confirm: "Are you sure?" }%>
<%= link_to "Back to All Restaurants", restaurants_path %>
